body {
    background-color: #fff4dc; 
}

h1 {
    color: #8b0000;
}

.menues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 gleich breite Spalten */
    background-color: #f5d6a0; 
    font-family: Georgia; /* Schriftart */

}