/*
Name: Tiziano Avigliano
Aufgabe: Komplexe Übung – Programmierung 3 (Webseitenprogrammierung)
Abgabedatum: 29.08.2026
*/

body {
    background-color: #fff4dc; 
}

h1 {
    color: #e33232;
    font-family: "Palatino Linotype";
    font-weight: bold;
}

h2 {
    color: #cd6366;
    font-style: italic;
}

h3 {
    color: #820606;
}

.menues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 gleich breite Spalten */
    background-color: #f5d6a0; 
    font-family: Georgia; /* Schriftart */
    border-radius: 10px;
}